# Dependencies
node_modules/
.pnpm-store/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.development
.env.test
.env.production
.env.*
!.env.example

# Build outputs
build/
dist/
out/
coverage/
.cache/
.tmp/
tmp/
.temp

# Framework-specific
.next/
.vercel/
.turbo/
.angular/
.svelte-kit/
.storybook-out/

# TypeScript
*.tsbuildinfo

# Misc
Thumbs.db
